body {
    font-size:20px ;
    line-height: normal;
}

footer, header, nav  {

    margin: 1.25rem auto;
    max-width : 760px;
    text-align: left;
    }

    header, footer {
    background-color:#fac8cd ;
    color: #40476d;
    text-align: center;
    padding: 1.5rem;
}
 img {
    object-position: right top;
    

}

h2{
    text-align: left;
    margin: 1.25rem auto;
    max-width : 760px;

}