


body {
     
    font-size:20px ;
    line-height: normal;
}

footer, header, nav, main  {
    

    margin: 1.25rem auto;
    max-width : 760px;
    text-align: left;
    }

    header, footer {
    background-color:#fac8cd ;
    color: #6ca6c1;
    text-align: center;
    padding: 1.5rem;
}
 img { 
     
   

    border: 1px solid #000;
    margin: -15rem auto;
    max-width: 210px;
   
    margin-top: -270px;
    

}

h2{
    font-family: 'Fraunces', serif;
    text-align: left;
    margin: 1.25rem auto;
    max-width : 760px;

}

body{
    font-family: 'Source Serif Pro', serif; 
}