body {
    background-color:#FFE66D ;
    font-size:20px ;
    line-height: normal;
}

footer, header, main {
    grid-gap: 1em;
    margin: 1.25rem auto;
    max-width : 850px;
    text-align: center;
    }

    header, footer {
    background-color:#6ca6c1 ;
    color: #231123;
    text-align: center;
    padding: 1.5rem;
}

header, h1, h2
{
    font-family: 'Fraunces', serif;
}



main{
    font-family: 'Crimson Text', serif;

    display: grid ;
    grid-template-columns: 1fr;
}

main section {
	margin: 0.5rem;

	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}





@media only screen and (min-width: 37.5em){

    main{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;    
        }
    }
    

@media only screen and (min-width:60em){

    main{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;    
    }
}