body {
    background-color:#FFFFFF ;
    font-size:20px ;
    line-height: normal;
}

footer, header, main {
    grid-gap: 1em;
    margin: 1.25rem auto;
    max-width : 900px;
    text-align: center;
    }

    header, footer {
    background-color:#EF798A ;
    color: #231123;
    text-align: center;
    padding: 1.5rem;
}

header, h1, h2
{
    font-family: 'Fraunces', serif;
}



main{
    font-family: 'Crimson Text', serif;

    display: grid ;
    grid-template-columns: 1fr;
}

main section {
	border: .2px solid #E6E3DB;
	padding: 0 1rem;
	background-color: #B6B7B9;
}
img{
    display: grid;
  grid-row: 9/9;
  max-width: 100%;
}

@media only screen and (min-width: 37.5em){

    main{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;    
        }
    }
    

@media only screen and (min-width:60em){

    main{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;    
    }
}