body {
    background-color:#FFE66D ;
    font-size:20px ;
    line-height: normal;
}

footer, header, main {
    

    margin: 1.25rem auto;
    max-width : 760px;
    text-align: left;
    }

    header, footer {
    background-color:#6ca6c1 ;
    color: #231123;
    text-align: center;
    padding: 1.5rem;
}

header, h1, h2, h3
{
    font-family: 'Fraunces', serif;
}



main{
    font-family: 'Crimson Text', serif;
font-family: 'Fraunces', serif;
    
    display: grid 1em;
    grid-template-columns: 1fr;
}





@media only screen and (min-width: 37.5em){

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;    
        }
    }
    

@media only screen and (min-width:60em){

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
    }
}