
/* 64em or 1028px media query CSS*/
@media only screen and (min-width:60rem){
    
    
  nav button{
      display: none;}



      nav ul li a {
          margin-left:2% ;

      }
      nav ul li {
          display:inline-flex;
          
      }

  nav ul li a{
      border: none;
      border-right: 1px solid rgba(0, 0, 0, 0.3) ;
      padding: .6rem 1rem;


  }
  nav ul.hide{
      display: block;

  }

  /*HTML CSS*/
  h1 {
      font-family: 'Gentium Book Basic', serif;
      font-size: 40px;
        
    }
    
    header img{
      width: 250px;
      height: auto;
  }

  
  
  
    .hero img{
       max-width: 100%;
    
       height: 350px;
    
    } 
    
    
    
    

      .map{
          width: 250px;
          float: right;
          padding: 10px;
        }
      
        #article{
            font-size: 24px;
        }

      
    


/*End*/
/*JSON*/
.cards{
  display: flex;
  flex-direction: row;
}
/*.cards section:nth-child(3){
  border-left: 3px solid #2019A2;
  border-right: 3px solid #2019A2;
}*/
.cards img{
  width: 300px;
  height: 380px;
}
div.cards section:nth-child(2){
  border-bottom: none;

}
div.cards section:nth-child(3){
  border-bottom: none;

}
div.cards section{
  display: block;
  
}
div.cards p{
  margin: 3px;
}
div.cards section:nth-child(3) img{
  margin-right: auto;
  }
  div.cards section:nth-child(1) img,
  div.cards section:nth-child(2) img{
      margin-left: auto;
  }
div.cards section div{
margin-bottom: 20px;
}

}