/*35 em  or 560px media query CSS*/
@media only screen and (min-width: 45rem){
    
    nav ul{
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }
    
    nav button{
        margin: .2rem 2%;
        background-color: #f09f2d;
        border: none;
        font-size: 1.6rem;
        color: #02020B;
    
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: #fff;
        border-top: 1px solid rgba(0,0,0,0.3);
    
    }
    nav ul li a:hover{
        background-color: rgba(0, 0, 0, 0.4);
    }
    nav ul li.active{
        background-color: rgba(0, 0, 0, 0.2); 
        color: #fff;
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    
    }
   
  
    
    

        nav ul li a {
            margin-left:2% ;

        }
       

    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3) ;
        padding: .8rem 1rem;


    }
    h1 {
        font-family: 'Gentium Book Basic', serif;
        font-size: 36px;
          
      }
   
    header img{
        width: 200px;
        height: auto;
    }
    

.map{
    width: 250px;
    float: right;
    padding: 10px;
    margin-left: 20px;
    margin-right: 50px;
  }
  
  .hero img {
    max-width: 100%;
 
    height: 350px;
 
 } 
 
 

/*End*/
.cards section:nth-child(3){
    flex-direction: row-reverse;
}
.cards section:nth-child(3) img{
    display: grid;  
    grid-column: 1/2;
    margin-top: -200px;
    height: 350px;
}
.cards section:nth-child(3)  h2,h3,p{
    display: grid;  
    grid-column: 2/3;
}

.cards section:nth-child(1) img,
.cards section:nth-child(2) img{
 display: grid;  
 grid-column: 2/3;
 height: 350px;
 margin-top: -170px;
 justify-content: center;
 
}
/*.cards section p, h2, h3{
  
 margin-left: 18%;
}*/
.cards section:nth-child(1) h2,h3,p,
.cards section:nth-child(2) h2,h3,p{
   
    display: grid; 
   grid-column: 1/2;
  
    
}
.cards section:nth-child(1) h2,
.cards section:nth-child(2) h2{
    font-size: 24px;
}
.cards section{
    justify-items: center;
    align-items: center;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
}
.cards p{
    margin-bottom: 20px;
}


.cards section:nth-child(3) p {
    display: grid;
    grid-column: 2/3;
    margin-left: 200p;
    
}


.cards section:nth-child(3) h2 {
    display: grid;
    grid-column: 2/3;
    font-size: 24px;
}

.cards section:nth-child(3) h3 {
    display: grid;
    grid-column: 2/3;
}

/* J
.cards img{
    max-width: 300px;
    height: 250px;
    margin: 5px;
    box-shadow: 0 0 30px #333;
  }
.cards p{
    margin-bottom: 20px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
}
.cards section{
    width: 100%;
    height: 400px;
    display: grid;
   grid-template-columns: 1fr 1fr;
}
.cards section:nth-child(odd) img{
    
    grid-column: 2;
  
 }   
.cards section:nth-child(odd) h1,h2,p{
    
    grid-column: 1;

}

.cards section:nth-child(even) img{
    
    grid-column: 1;
}


.cards section:nth-child(even) h1,h2,p{
    grid-column: 2;

    
}
/*.cards section:nth-child(3){
    flex-direction: row-reverse;
}
.cards section:nth-child(3) img{  
    
grid-column: 1;
}
.cards section:nth-child(3) h1,h2,p{
 
    grid-column: 2;   
}*/
}