@media only screen and (min-width:64rem){
    body{
        max-width: 900px;
       
    }
    main{
        display: grid;
    }
    header{
        float: left;
        height:1300px;;
    }
    
    article{
        margin:20px;
        padding: 10px;
    }
}
