@charset "UTF-8"; 
body {
	font-size: 22px;
	 font-family: 'Gentium Book Basic', serif;
}

/* phone or baseline views **************************/
header
 {
	background-color: #00A398;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 26px;
	
}
h2 {
  font-size: 26px;
  font-family: 'Gentium Book Basic', serif;
	color: #02020B;
}

p{
  font-family: 'Merriweather', serif;
  color: #02020B;
}

nav {
	background-color: #84130B;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #f09f2d;
	color: #84130B;
}


main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #02020B;
}

footer {
	flex: 0 1 100%;
	height: 2rem;
  background-color:#00A398 ;
  color: #231123;
  text-align: center;
  padding: 1.5rem;}

header {
  align-items: center;
  display: flex;
  grid-template-columns: 110px auto;
  margin-bottom: 10px;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
	/* Flex *********************/
	/*	nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
	*/

	/* Grid *********************/
			nav ul { 
				display: flex;
				/*grid-template-columns: repeat(5, 1fr);*/
				grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
			}

	/* Inline-Block             */
	/*
			nav li {display: inline-block;}
	*/

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

}
