/*35 em  or 560px media query CSS*/
@media only screen and (min-width: 35em){
    
    nav ul{
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }
    
    nav button{
        margin: .2rem 2%;
        background-color: #f09f2d;
        border: none;
        font-size: 1.6rem;
        color: #02020B;
    
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: #fff;
        border-top: 1px solid rgba(0,0,0,0.3);
    
    }
    nav ul li a:hover{
        background-color: rgba(0, 0, 0, 0.4);
    }
    nav ul li.active{
        background-color: rgba(0, 0, 0, 0.2); 
        color: #fff;
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    
    }
   
  
    
    

        nav ul li a {
            margin-left:2% ;

        }
       

    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3) ;
        padding: .8rem 1rem;


    }
    h1 {
        font-family: 'Gentium Book Basic', serif;
        font-size: 36px;
          
      }
   
    header img{
        width: 200px;
        height: auto;
    }
  
.articleimg{
    width: 300px;
}
.map{
    width: 250px;
    float: right;
    padding: 10px;
    margin-left: 20px;
    margin-right: 50px;
  }
  
  .HeroDiv {
    max-width: 100%;
 
    height: 350px;
 
 } 
 .HeroDiv{
    position: relative;
    align-items: center;
    
    
  }
  .HeroDiv img{
    align-items: center;
    width: 1000px;
    height: 350px;

} 
.formbox label{
    display: block;
    flex-direction: column;
  }
}

/*End*/
