/*BUTTON CSS*/
nav{
    background-color:#f09f2d ;
    font-family: 'Gentium Book Basic', serif;
}
nav ul{
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav button{
    margin: .2rem 2%;
    background-color:#f09f2d ;
    border: none;
    font-size: 1.6rem;
    color: #02020B;

}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #02020B;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li a:hover{
    background-color: #f09f2d;
}
nav ul li.active{
    background-color:#f09f2d; 
    color: #fff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}
nav ul.hide{
    display: none;
}
/*End of BUTTON CSS*/

/*---------------CSS Website*/
.OuterDiv{
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

body {
	font-size: 22px;
	 font-family: 'Gentium Book Basic', serif;
}

/* phone or baseline views **************************/
header
 {
	background-color: #00A398;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
}
.headings{
	display: flex;
}


header,
nav,
main,
footer {
	max-width: 1000px;
	margin: 0 auto;
}
h1 {
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  font-size: 34px;
	
}

.content {
  justify-content: center;
	align-items: center;
    background-color:#f09f2d;
  font-size:16px;
  border:1px solid #84130B;
  padding:5px 5px;
  color:#02020B;
}
  
h2 {

  text-align: center;
  font-size: 26px;
  font-family: 'Merriweather', serif;
	color: #02020B;
}

p, h3 {
  font-family: 'Merriweather', serif;
  color: #02020B;
}

nav {
	background-color: #84130B;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	align-items:center;
	justify-content:center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.95rem;
	text-decoration: none;
	font-size: 1.3rem;
}
nav a:hover {
	background-color: #f09f2d;
	color: #84130B;
}


main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #02020B;
}

main figure.myphoto {
  
margin: 1px 1px;
}
main figure.myphoto img {
  width: 100%;
}

footer {
	flex: 0 1 100%;
	height: 2rem;
  background-color:#00A398 ;
  color: #231123;
  text-align: center;
  padding: 1.5rem;}


header img{
	width: 150px;
	height: auto;
}
.HeroDiv{
  position: relative;
  align-items: center;
  
}

  
.weatherStats p {
  text-align: center;
}
.weatherStats{
  top: 10px;
  left: 50px;
  background-color:#00A398;
  border: 1px solid black;
  padding: .5rem;
  font-size: 16px;
  

}
.HeroDiv img{
   max-width: 100%;

   height: 350px;

} 

.Forecast{
  text-align: center;
  max-width: 1000px;

}
.days{
  background-color:#00A398;
  font-size:24px;
  border:2px solid black;
  padding:20px 20px;
  color:#02020B;

}
.hero img{
  max-width: 100%;

  height: 350px;

} 
.hero img {
 margin: 1px 1px;
 width: 100%;
}
.days img{
  width: 150px;
	height: auto;

}

.articleimg{
  width: 200px;
  
  float: left;
  
  padding: 10px;

}

#info h1{
  font-size: 30px;
}
#info h2{
  font-size: 20px;
}

#info{
  text-align: center;
/*margin-left: 20px;
margin-right: 20px;*/

max-width: 100%;
}

.map{
  width: 150px;
  float: right;
  padding: 10px;
}


/*End of Webcss*/
/*Form*/
.formbox label{
  font-size: 20px;
  display: block;
  flex-direction: column;
}
#report{
  align-items: center;
  display: flex;
}
legend{
  font-size: 30px;
}
.formbox input{
  margin-bottom: 20px;
}
#subtn{
  font-family: 'Gentium Book Basic', serif;
  justify-content: center;
	align-items: center;
  font-size: 25px;
  margin: 20px 50px 20px 50px;
  background-color:#84130B ;
  color: #fff;

}

/* Town Card*/
.cards section{
  width: 90%;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.cards h2, .cards h3, .cards p{
text-align: center;
}
.cards h2{
  font-size: 20px;
  margin-bottom: 0px;
}

.cards h3{
  margin-top: 2px;
  font-size: 14px;
}
.cards p{
  margin: 3px;
}

.cards img{
  width: 90%;
  max-width: 400px;
  height: 220px;
  margin: 10px;
  box-shadow: 0 0 30px #333;
  
}
.cards{

  display: flex;
  flex-direction: column;
}
.cards section{
  border: .5px solid rgb(37, 54, 51);
  background-color:  #71d1cb;}

.cards section:nth-child(1){
  order: 3;
 

}
.cardssection:nth-child(2){
  order: 1;
 
}
.cards section:nth-child(3){
  order: 2;
 

}
/*GAllery*/
.Gallery{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.Gallery h3{
  margin-top: 2px;
  text-align: center;
  font-size: 20px;

}
.Gallery img{
  
      filter: blur(0em);
      transition: filter 2s;
      border: 1px solid burlywood;
      padding: 2px;
    
  }
  img[data-src]{
      filter: blur(0.2em);
     

  }
