/* 64em or 1028px media query CSS*/
@media only screen and (min-width:64rem){
    
    
    nav button{
        display: none;}



        nav ul li a {
            margin-left:2% ;

        }
        nav ul li {
            display:inline-flex;
            
        }

    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3) ;
        padding: .6rem 1rem;


    }
    nav ul.hide{
        display: block;

    }
/*Hero*/
.hero{
    position: relative;

}
.weatherStats{
    position: absolute;
    top: 2px;
    right:100px;
    background-color:clear;
    color: rgb(5, 5, 5);
    padding: .5rem;
    font-size: 16px;
    
  }
  .weatherStats h2{
      font-size: 25px;
  }
  /*3dayCast*/
.tdcast{
    display: flex;
    align-items: center;
    justify-content: center;
}


.days{
    margin: 5px 5px;
    background-color:#FBFFEB  ;
    border: clear;
    text-align: center;
    width: 150px;
    height: 180px;
}
.days h2{
    margin: 1px;

}
/*Cards*/
.cards{
    display: flex;
    justify-content: center;
}
.cards section{
    text-align: center;
    border: solid 1px;
    width: 300px;
    margin: 2px;
    padding: 2px;
}
.directory {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
}


}