.outerdiv {
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
body{
    background-color: #f1f1f1;
}
.content{
    background: #A5D8DD;
}

footer, header{
    background-color: #1c4e80;
    color: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
}
header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

}
header img {
    height: 200px;
    width: 300px;
}
h1{
    font-family:'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 40px;

}
h2 {font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 26px;
   
}
p{
    font-family: 'Crimson Text', serif; 
    text-align: center;
    font-size: 20px;
    
}
/*nav*/

nav {
	background-color: #84130B;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	align-items:center;
	justify-content:center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.95rem;
	text-decoration: none;
	font-size: 1.3rem;
}
nav a:hover {
	background-color: #EA6A47;
	color: #1c4e80;
}
/*Nav-Toggle*/
nav{
    background-color:#7E909A ;
    font-family: 'Gentium Book Basic', serif;
}
nav ul{
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav button{
    margin: .2rem 2%;
    background-color:#EA6A47 ;
    border: none;
    font-size: 1.6rem;
    color: #02020B;

}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #02020B;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li a:hover{
    background-color: #EA6A47;
}
nav ul li.active{
    background-color:#A5D8DD; 
    color: #fff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}
nav ul.hide{
    display: none;
}
/*hero*/
.hero img{
height: 450px;
width: 100%;
margin: 1px 1px;
}
/*Action Button*/
.acbutton{
    justify-content: center;
    text-align: center;
    padding: 12px; 
   width: 300px;
    border: none; 
   border-radius: 4px;
   background: #EA6A47;
    color: #fff; 
    text-transform: uppercase; 
   font-weight: 600; 
   cursor: pointer; 
   margin-top: 28px; 
   display: inline-block; 

}
 /*3dayCast*/
 .tdcast{
    display: flex;
    align-items: center;
    justify-content: center;
}


.days{
    margin: 5px 5px;
    background-color:#FBFFEB  ;
    border: clear;
    text-align: center;
    width: 150px;
    height: 180px;
}
.days h2{
    margin: 1px;

}
/*Cards*/
.cards{
    display: flex;
}
.cards section{
    text-align: center;
    border: solid 1px;
    width: 300px;
    margin: 2px;
    padding: 2px;
}