
/* 64em or 1028px media query CSS*/
@media only screen and (min-width:65rem){
    
    
    nav button{
        display: none;}



        nav ul li a {
            margin-left:2% ;

        }
        nav ul li {
            display:inline-flex;
            
        }

    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3) ;
        padding: .6rem 1rem;


    }
    nav ul.hide{
        display: block;

    }

    /*HTML CSS*/
    h1 {
        font-family: 'Gentium Book Basic', serif;
        font-size: 40px;
          
      }
      
      header img{
        width: 250px;
        height: auto;
    }

    .HeroDiv{
       position: relative;
     
    }
    .weatherStats{
        position: absolute;
        top: 50px;
        left: 50px;
        background-color:#00A398;
        border: 1px solid black;
        padding: .5rem;
        box-shadow: darkgray;
        font-size: 16px;
        

    }
    .HeroDiv img{
        align-items: center;
        width: 1000px;
        height: 350px;

    } 
    .HeroDiv{
        position: relative;
        align-items: center;
        
        
      }
      .weatherStats{
        position: absolute;
        top: 50px;
        left: 50px;
        background-color:#00A398;
        border: 1px solid black;
        padding: .5rem;
        box-shadow: darkgray;
        font-size: 16px;
        
      
      }
      .HeroDiv img{
         max-width: 100%;
      
         height: 350px;
      
      } 
      
      .Forecast{
        margin: 10px 10px;
        display: flex;
        text-align: center;
        max-width: 1000px;
      
      }
      .days{
        background-color:#00A398;
        font-size:24px;
        border:2px solid black;
        padding:20px 20px;
        color:#02020B;
      
      }
      .days img{
        width: 150px;
          height: auto;
      
      }
      
      .articleimg{
        width: 400px;
        border-radius: 50%;
        float: left;
        shape-outside: ellipse();
        padding: 30px;}

        .map{
            width: 250px;
            float: right;
            padding: 10px;
          }
        
          #article{
              font-size: 24px;
          }

          .Gallery{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-gap: 5px
        }
       

}

/*End*/